In [3]:
import pandas as pd

# steps:
    1.读取原始train_query文件、train_reply文件，构造问答对文件；
    2.按照4:1的比例切分问答对文件，分为训练集和验证集；
    3.构造测试集的问答对文件。

# step1 构造问答对文件

In [2]:
# 读取原始query、reply文件
data_q_path = "./train/train.query.tsv"
data_r_path = "./train/train.reply.tsv"

In [3]:
data_q = pd.read_csv(data_q_path, header=None, names=["qid", "q_sen"], sep="\t")
data_q.head()

   qid               q_sen
0    0            采荷一小是分校吧
1    1                毛坯吗？
2    2  你们的佣金费大约是多少和契税是多少。
3    3             靠近川沙路嘛？
4    4      这套房源价格还有优惠空间吗？

In [4]:
data_r = pd.read_csv(data_r_path, header=None, names=["qid", "rid", "r_sen", "label"], sep="\t")
data_r.head()

   qid  rid                        r_sen  label
0    0    0  杭州市采荷第一小学钱江苑校区，杭州市钱江新城实验学校。      1
1    0    1                           是的      0
2    0    2                         这是5楼      0
3    1    0                   因为公积金贷款贷的少      0
4    1    1                           是呢      0

In [5]:
qid_list = data_r["qid"].tolist()
rid_list = data_r["rid"].tolist()
r_sen_list = data_r["r_sen"].tolist()
label_list = data_r["label"].tolist()

# data_q中index和qid相同
q_sen_list = []
for qid in qid_list:
    tmp_sen = data_q.q_sen[qid]
    q_sen_list.append(tmp_sen)

In [6]:
c = {"qid": qid_list, "rid": rid_list, "q_sen": q_sen_list, "r_sen": r_sen_list, "label": label_list}
data_df = pd.DataFrame(c)

# step2 切分问答对文件

In [7]:
# 按照4：1的比例切分，观察得索引为17270
cut_point = 17270
train_q = data_df[: cut_point].reset_index(drop=True)
print(len(train_q))
print(train_q.head())
print(train_q.tail())
train_q.to_csv("train_df.tsv", sep="\t")

17270
   qid  rid     q_sen                        r_sen  label
0    0    0  采荷一小是分校吧  杭州市采荷第一小学钱江苑校区，杭州市钱江新城实验学校。      1
1    0    1  采荷一小是分校吧                           是的      0
2    0    2  采荷一小是分校吧                         这是5楼      0
3    1    0      毛坯吗？                   因为公积金贷款贷的少      0
4    1    1      毛坯吗？                           是呢      0
        qid  rid    q_sen      r_sen  label
17265  4796    0  家具家电带着吗  家具家电要和业主聊      1
17266  4796    1  家具家电带着吗  因为房子刚挂了3天      0
17267  4796    2  家具家电带着吗      所以要核实      0
17268  4796    3  家具家电带着吗       您同意下      0
17269  4796    4  家具家电带着吗    我和业主核实好      0

In [8]:
val_q = data_df[cut_point: ].reset_index(drop=True)
print(len(val_q))
print(val_q.head())
print(val_q.tail())
val_q.to_csv("val_df.tsv", sep="\t")

4315
    qid  rid     q_sen                  r_sen  label
0  4797    0  有的话我想看一看  西财学府憬城，精装套三，拎包入住，户型方正      0
1  4797    1  有的话我想看一看                     你好      0
2  4797    2  有的话我想看一看             王哥最近还在看房子哇      0
3  4798    0       哪里的               杨柳春风您知道吗      0
4  4798    1       哪里的                  青岛路那里      1
       qid  rid           q_sen            r_sen  label
4310  5998    1  您好，我正在看尚林家园的房子               有啊      0
4311  5998    2  您好，我正在看尚林家园的房子            我带你看看      0
4312  5999    0     今天可以安排看房子吗？       我约下房东，稍后回你      1
4313  5999    1     今天可以安排看房子吗？   可以看，你几点有时间过来呢？      1
4314  5999    2     今天可以安排看房子吗？  好的，那咱们在一号门口这碰头？      0

# step3 构造测试集问答对文件

In [4]:
test_q_path = "./test/test.query.tsv"
test_r_path = "./test/test.reply.tsv"

In [5]:
test_q = pd.read_csv(test_q_path, header=None, names=["qid", "q_sen"], sep="\t")
test_q.head()

   qid         q_sen
0    0  东区西区？什么时候下证？
1    1          小学哪个
2    2          看哪个？
3    3     面积多少，什么户型
4    4    什么时候能够看房呢？

In [6]:
test_r = pd.read_csv(test_r_path, header=None, names=["qid", "rid", "r_sen"], sep="\t")
test_r.head()

   qid  rid         r_sen
0    0    0        我在给你发套
1    0    1     您看下我发的这几套
2    0    2    这两套也是金源花园的
3    0    3           价钱低
4    0    4  便宜的房子，一般都是顶楼

In [9]:
qid_list = test_r["qid"].tolist()
rid_list = test_r["rid"].tolist()
r_sen_list = test_r["r_sen"].tolist()

# data_q中index和qid相同
q_sen_list = []
for qid in qid_list:
    tmp_sen = test_q.q_sen[qid]
    q_sen_list.append(tmp_sen)
    
c = {"qid": qid_list, "rid": rid_list, "q_sen": q_sen_list, "r_sen": r_sen_list}
test_df = pd.DataFrame(c)

In [10]:
test_df.head()

   qid  rid         q_sen         r_sen
0    0    0  东区西区？什么时候下证？        我在给你发套
1    0    1  东区西区？什么时候下证？     您看下我发的这几套
2    0    2  东区西区？什么时候下证？    这两套也是金源花园的
3    0    3  东区西区？什么时候下证？           价钱低
4    0    4  东区西区？什么时候下证？  便宜的房子，一般都是顶楼

In [ ]:
test_df.to_csv("test_df.tsv", sep="\t")